section {
  margin: 20px;
}

.flower-img {
  width: 75%; /* Adjust width as needed */
  height: auto; /* Maintain aspect ratio */
  max-width: 400px; /* Optional max width */
}

#heading {
  padding-top: 50px;
}
